sectiom.main st-emotion-cache-uf99v8 ea3mdgi5{
    background-image:url(bg2.jpg);
}
section.main st-emotion-cache-6qob1r eczjsme3{
background-color: black;
}

div.block-container st-emotion-cache-1y4p8pa ea3mdgi4{
    border: 2px;
    border-color: aliceblue;
}
